In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('t20.csv')

In [3]:
df

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,49,H Ssenyondo (UGA),2019-2019,4,1,1,0,0*,-,0,-,0,0,0,0,0,NaN
1850,0,Taijul Islam (BDESH),2019-2019,2,1,1,0,0*,-,1,0,0,0,0,0,0,NaN
1851,1,Ziaur Rehman (Fin),2019-2019,1,1,0,0,0,0,4,0,0,0,1,0,0,NaN
1852,2,M Zondeki (SA),2006-2006,1,1,0,0,0,0,1,0,0,0,1,0,0,NaN
1853,3,Zulqarnain Haider (ESP),2019-2019,5,1,0,0,0,0,0,-,0,0,1,0,0,NaN

In [4]:
df.drop('Unnamed: 15', axis = 1)

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,49,H Ssenyondo (UGA),2019-2019,4,1,1,0,0*,-,0,-,0,0,0,0,0
1850,0,Taijul Islam (BDESH),2019-2019,2,1,1,0,0*,-,1,0,0,0,0,0,0
1851,1,Ziaur Rehman (Fin),2019-2019,1,1,0,0,0,0,4,0,0,0,1,0,0
1852,2,M Zondeki (SA),2006-2006,1,1,0,0,0,0,1,0,0,0,1,0,0
1853,3,Zulqarnain Haider (ESP),2019-2019,5,1,0,0,0,0,0,-,0,0,1,0,0

In [5]:
df.drop('Sno', axis = 1)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,H Ssenyondo (UGA),2019-2019,4,1,1,0,0*,-,0,-,0,0,0,0,0,NaN
1850,Taijul Islam (BDESH),2019-2019,2,1,1,0,0*,-,1,0,0,0,0,0,0,NaN
1851,Ziaur Rehman (Fin),2019-2019,1,1,0,0,0,0,4,0,0,0,1,0,0,NaN
1852,M Zondeki (SA),2006-2006,1,1,0,0,0,0,1,0,0,0,1,0,0,NaN
1853,Zulqarnain Haider (ESP),2019-2019,5,1,0,0,0,0,0,-,0,0,1,0,0,NaN

In [6]:
df[df['100'] >= 3]

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
23,23,GJ Maxwell (AUS),2012-2019,61,54,9,1576,145*,35.02,985,160,3,7,1,133,81,NaN
25,25,C Munro (NZ),2012-2019,60,57,7,1546,109*,30.92,966,160.04,3,9,5,114,100,NaN

In [7]:
df[df.HS.str.replace('*','').astype(int) >= 50]

/var/folders/85/pz631h490csdlf61sc2z395c0000gp/T/ipykernel_7768/1789074423.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[df.HS.str.replace('*','').astype(int) >= 50]

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,5,K Birkenstock (NAM),2019-2019,4,2,0,64,59,32,33,193.93,0,1,0,7,4,NaN
706,6,S Dube (INDIA),2019-2019,6,4,2,64,54,32,42,152.38,0,1,0,3,4,NaN
741,41,Muhammad Saleem (),2019-2019,4,4,0,59,52,14.75,54,109.25,0,1,0,5,1,NaN
756,6,A Makesh (KUW),2019-2019,4,2,1,57,57,57,41,139.02,0,1,0,3,4,NaN
776,26,Mirza Ahsan (Aut),2019-2019,5,3,2,55,51*,55,18,305.55,0,1,0,2,7,NaN

In [8]:
df[df.Ave.str.replace('-','0').astype(float) >= 35.0]['Player'].count()

101